@import './components/index.scss';
@import './screens/index.scss';

body {
    background-image: url(../image/foodScreen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50vh;
    width: 0vw;
    margin: 0;
    padding: 0;
}