.navbar {
    width: 100vw;
    height: 60px;
    background-color:rgba(1, 1, 2, 0.9);
    position:fixed;
    top: 0;
    box-shadow: 0 6px rgba(1,1,2,0.4);
    img{
        position: absolute;
        width: 4%;
        left:20px;
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color:white;

        li {
            a:link, a:visited, a:active {
                text-decoration:none; 
                color:white;
                font-size: 22px; 
                font-weight: bolder;
            }
            a:hover{
                
                animation: borde 0.4s ;

            }
        }
       
    }
    
}
@keyframes borde{
    from{
        border-bottom:1px solid oldlace;
    }
    to{
        border-bottom:4px solid oldlace;
    }
}
// vw view * width (width el ancho de la pantalla)
// vh view * height (height el alto de la pantalla)

@media (max-width: 300px) {
    .navbar {
        width: 50% !important;
        height: 100% !important;
        ul {
            flex-direction: column !important;
        }
    }
}