.translate {
  width: 150px;
  height: 70px;
  background-color: rgba(13, 13, 15, 0.747);
  border-radius:20px;
  border-bottom-right-radius:0px;
  position: fixed;
  bottom:20px;
  right:15px ;

  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    
      button {
        border:none;
        background-color: transparent;
        outline: none;
        img {
          width: 40px;
          height: 40px;
          margin-right: 0px;
          margin-left: 0px;
        
        }
      }
    }
